---
import ArrivalList from "../../components/arrival-list.astro";
import Layout from "../../layouts/Layout.astro";
import { getStations, getUpcomingArrivals } from "../../util/mta";

const { id: stationId } = Astro.params;
if (!stationId) throw new Error("impossible");

const stations = await getStations(stationId);
if (!stations) return Astro.redirect("/404");
const station = stations[0];
if (!station) return Astro.redirect("/404");

const arrivals = await getUpcomingArrivals(station.stopId);
const arrivalsNorth = arrivals.filter((a) => a.stopId === `${station.stopId}N`);
const arrivalsSouth = arrivals.filter((a) => a.stopId === `${station.stopId}S`);
---

<Layout>
    <div class="container mx-auto px-4 py-8">
        <div class="mb-8">
            <a href="/" class="text-blue-500 hover:underline"
                >&larr; Back to routes</a
            >
        </div>

        <h1 class="text-4xl font-bold mb-8">{station.stopName}</h1>

        <div class="grid grid-cols-2 gap-4">
            <div>
                <h3 class="font-semibold mb-2">Uptown</h3>
                <ArrivalList arrivals={arrivalsNorth} />
            </div>
            <div>
                <h3 class="font-semibold mb-2">Downtown</h3>
                <ArrivalList arrivals={arrivalsSouth} />
            </div>
        </div>
    </div>
</Layout>
